.App {
  text-align: center;
  background-color: #222;
  display: flex;
  color: white;
  padding: 16px;
}

.table {
  margin: 16px auto;
  width: 500px;
  height: 500px;
  border: 2px solid grey;
  position: relative;
}

.command-holder {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.command-prompt {
  border: 1px solid white;
  width: 72%;
  height: 30px;
  color: gray;
  font-weight: 500;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 16px;
}

.north {
  transform: rotate(0deg);
}

.south {
  transform: rotate(180deg);
}

.east {
  transform: rotate(90deg);
}

.west {
  transform: rotate(270deg);
}

.robot {
  display: none;
  position: absolute;
  height: 0%;
  padding: 49px 4px;
  text-align: center;
  background-color: darkslategrey;
  transition: bottom 0.3s ease-in-out, left 0.3s ease-in-out;
}

.robot::before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: cornsilk;
  border-radius: 3px;
}

.placed {
  display: block;
}

.App .output-list {
  border: 1px dashed dimgray;
  background: #222;
  font-family: monospace;
  font-size: 16px;
  margin: 28px;
  height: 477px;
  text-align: start;
  padding: 0 8px;
  overflow: auto;
}

.App .error {
  color: indianred;
}

.App .log {
  color: whitesmoke;
}

.App .idle {
  color: khaki;
}

.timer-wrapper {
  color: darkgrey;
}
.timer-wrapper .counter {
  color: darkorange;
}
